.cards {
    background: #fff;
    border-bottom: 2px solid #FF6700 ;
}

.card {
    width: 20rem;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17) !important;
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017)) !important;
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017)) !important;
    border-radius: 10px;
    text-decoration: none !important;
    display: block;
}

.card:hover {
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 253) !important;
}

.overflow {
    overflow: hidden;
    border-radius: 10px 10px 0px 0px !important;
}

.card_img {
    transform: scale(1);
    transition: transform 0.5s ease;
}

.card_img:hover {
    transform: scale(1.2);
}

@media screen and (min-width: 768px) {
	.overflow {
        max-height: 50vh;
    }
}

.card_text {
    text-decoration: none;
    color: black;
}

.box_centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_show {
    border-radius: 0px !important;
    max-width: fit-content;
}

.card_link{
    text-decoration: none;
    color: black;
}

.hike-list-card {
    cursor: pointer;
}

.hike-page-card {
    margin-top: 100px;
    margin-bottom: 50px !important;
    width: 75%;
}

.card-title{
    font-style: italic;
    font-size: 22px;
    margin-bottom: 10px;
    color: #62DDF5;
}

.card-credit{
    font-style: italic;
    font-size: 12px;
    margin-bottom: 0px;
    text-align: end;
}

.card-text{
    margin-bottom: 8px;
}
.card-body {
    height: 17rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

.card-body::-webkit-scrollbar {
    display: none;
}

.card-body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
  }
  button.learn-more {
    width: 12rem;
    height: auto;
  }
  button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;
  }
  button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
  }
  button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
  }
  button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.25rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
  }
  button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
  }
  button:hover .circle {
    width: 100%;
  }
  button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
  }
  button:hover .button-text {
    color: #fff;
  }