.filterSection {
    padding-top: 4rem;
    padding-bottom: 2rem;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

.wide-modal {
    --bs-modal-width: 800px;
}

.modal_label {
    align-items: center;
}

.btn_filter {
    border-radius: 0px !important;
    background-color: #16a085;
    border-color: #16a085;
}

.btn_filter:hover {
    border-radius: 0px !important;
    background-color: #05725c;
    border-color: #16a085;
}

.btn_info {
    border-radius: 20px;
}

.filter-label {
    cursor: default !important;
}

.close-filter-label {
    cursor: pointer;
}

input[type=checkbox]:hover,
.form-check-label {
    cursor: pointer;
}

.hike-img {
    vertical-align: baseline;
    filter: invert(54%) sepia(42%) saturate(6891%) hue-rotate(141deg) brightness(93%) contrast(83%);
}

.filter-title {
    width: 600px !important;
    font-weight: bold;
    font-size: 50px;
    font-style: italic;
    color: #16a085;
    text-align: center;
    text-transform: uppercase;
}

.filter-title.background {
    position: relative;
    z-index: 1;
}

.filter-title.background span {
    background: #fff;
    padding: 0 15px;
}

.filter-title.double:before {
    border-top: none;
}

.filter-title.double:after {
    border-bottom: 2px solid #16a085;
    content: "";
    margin: 0 auto;
    /* this centers the line to the full width specified */
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 100%;
    z-index: -1;
}

.hikes-filter-map {
    width: 100%;
}

.slider-label {
    margin-top: 5px;
}

/*generated with Input range slider CSS style generator (version 20211225)
https://toughengineer.github.io/demo/slider-styler*/
input[type=range].my-slider {
    width: 100%;
    height: 2.2em;
    cursor: pointer;
    -webkit-appearance: none;
}

input[type=range].my-slider:focus {
    outline: none;
}

/*webkit*/
input[type=range].my-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 2em;
    height: 2em;
    border-radius: 1em;
    background: #198653;
    border: none;
    box-shadow: 0 0 2px black;
    margin-top: calc(max((.5em - 1px - 1px) * 0.5, 0px) - 2em * 0.5);
}

input[type=range].my-slider::-webkit-slider-runnable-track {
    height: .5em;
    border: 1px solid #b2b2b2;
    border-radius: 0.5em;
    background: #efefef;
    box-shadow: none;
}

input[type=range].my-slider::-webkit-slider-thumb:hover {
    background: #136b42;
}

input[type=range].my-slider:hover::-webkit-slider-runnable-track {
    background: #e5e5e5;
    border-color: #9a9a9a;
}

input[type=range].my-slider::-webkit-slider-thumb:active {
    background: #136b42;
}

input[type=range].my-slider:active::-webkit-slider-runnable-track {
    background: #f5f5f5;
    border-color: #c1c1c1;
}

/*mozilla*/
input[type=range].my-slider::-moz-range-thumb {
    width: 2em;
    height: 2em;
    border-radius: 1em;
    background: #198653;
    border: none;
    box-shadow: 0 0 2px black;
}

input[type=range].my-slider::-moz-range-track {
    height: max(calc(.5em - 1px - 1px), 0px);
    border: 1px solid #b2b2b2;
    border-radius: 0.5em;
    background: #efefef;
    box-shadow: none;
}

input[type=range].my-slider::-moz-range-thumb:hover {
    background: #136b42;
}

input[type=range].my-slider:hover::-moz-range-track {
    background: #e5e5e5;
    border-color: #9a9a9a;
}

input[type=range].my-slider::-moz-range-thumb:active {
    background: #136b42;
}

input[type=range].my-slider:active::-moz-range-track {
    background: #f5f5f5;
    border-color: #c1c1c1;
}

/*ms*/
input[type=range].my-slider::-ms-fill-upper {
    background: transparent;
    border-color: transparent;
}

input[type=range].my-slider::-ms-fill-lower {
    background: transparent;
    border-color: transparent;
}

input[type=range].my-slider::-ms-thumb {
    width: 2em;
    height: 2em;
    border-radius: 1em;
    background: #198653;
    border: none;
    box-shadow: 0 0 2px black;
    margin-top: 0;
    box-sizing: border-box;
}

input[type=range].my-slider::-ms-track {
    height: .5em;
    border-radius: 0.5em;
    background: #efefef;
    border: 1px solid #b2b2b2;
    box-shadow: none;
    box-sizing: border-box;
}

input[type=range].my-slider::-ms-thumb:hover {
    background: #136b42;
}

input[type=range].my-slider:hover::-ms-track {
    background: #e5e5e5;
    border-color: #9a9a9a;
}

input[type=range].my-slider::-ms-thumb:active {
    background: #136b42;
}

input[type=range].my-slider:active::-ms-track {
    background: #f5f5f5;
    border-color: #c1c1c1;
}


.tooltip-main {
    visibility: hidden;
}

.filter-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.width-100{
    width: 100% !important;
}