.hike_form-title {
    font-weight: bold;
    color: #16a085;
    text-transform: uppercase;
    font-style: italic;
}

.hut_form-title {
    font-weight: bold;
    color: #FF6700;
    text-transform: uppercase;
    font-style: italic;
}

.save-button {
    margin-top: 10px;
    background-color: green;
}

.back-button {
    margin-top: 10px;
    margin-left: 20px;
    background-color: gray;
}

.delete-button {
    margin-top: -73px;
    margin-left: 990px;
    background-color: red;
}

.box{
    min-height: 80vh;
}

.updateImage {
    margin-left: 100px;
}   

.man-hut-label .leaflet-container{
    width: 100%;
    border-radius: 8px;
    border: 2px solid #FF6700;
    height: 54vh;
    margin-bottom: 0px;
}

.park_form-title {
    font-weight: bold;
    color: #4D4DFF;
    text-transform: uppercase;
    font-style: italic;
}

.man-park-label .leaflet-container{
    width: 100%;
    border-radius: 8px;
    border: 2px solid #4D4DFF;
    height: 54vh;
    margin-bottom: 0px;
}

.man-hike-label .leaflet-container{
    width: 100%;
    border-radius: 8px;
    border: 2px solid #16a085;
    height: 54vh;
    margin-bottom: 0px;
}


.img_box-park {
    border-radius: 8px;
    padding: 0px;
    overflow: hidden;
    object-fit: cover;
    border: 2px solid #4D4DFF;
    max-width: 100%;
    height: auto;
    width: auto;
}

.img_box-hike {
    border-radius: 8px;
    padding: 0px;
    overflow: hidden;
    object-fit: cover;
    border: 2px solid #16a085;
    max-width: 100%;
    height: auto;
    width: auto;
}

.width{
    width:300px;
    margin-right: 0px;
}

.display{
    display: inline;
}

.box-add-hike{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.external-box-hike {
    background-image: url(../images/image3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    padding-bottom: 8vh;
    padding-top: 20vh;
    padding-left: 8vh;
    padding-right: 8vh;
    min-height: 100vh;
  }

  .external-box-park {
    background-image: url(../images/image2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    padding-bottom: 8vh;
    padding-top: 20vh;
    padding-left: 8vh;
    padding-right: 8vh;
    min-height: 100vh;
  }