.back{
  background-image: url(../images/image3.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  padding-bottom: 20px;
  min-height: 100vh;
}



.back3{
  background-image: url(../images/image1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  padding-bottom: 20px;
  min-height: 100vh;
}

.title_box{
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  padding-top: 14vh;
  width: 100%;
}

.search_row{
  display: flex;
  align-items: center;
  justify-content: center;
}

.title{
  font-size: 70px;
  color: white;
}

@media screen and (max-width: 576px) {
  .title{
      font-size: 50px;
  }
}


.hike_box{
  background-color: white;
  border-radius: 20px;
  display: flex;
}

.img_box{
  width: auto;
  height: 20vh;
  overflow: hidden;
}

.box_img_box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form_col{
  width: fit-content;
}

.btn_box{
  border-radius: 0px !important;
}

.btn_box2{
  border-radius: 0px !important;
  width: 100px;
}

.box_btn{
  display: flex;
  justify-content: center;
  align-items: center; 
}

.box_btn2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.btn_ref{
  border-radius: 0px !important;
  max-width: fit-content;
}

