.logo-name {
    cursor: pointer;
}

.btn--outline {
    padding: 6px 12px !important;
    border: 1px solid var(--primary);
    font-weight: bold;
}
.button {
    position: relative;
    padding: 0.4em 1.5em;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    margin: 0em 0.4em;
}

.button.type1 {
    color: #16a085;
}

.button.type2 {
    color: #FF6700;
}

.button.type3 {
    color: #4D4DFF;
}

.button.type1:after,
.button.type1:before {
    background-color: #16a085;
}
.button.type2:after,
.button.type2:before {
    background-color: #FF6700;
}

.button.type3:after,
.button.type3:before {
    background-color: #4D4DFF;
}
.button.type1:after,
.button.type1:before,
.button.type2:after,
.button.type2:before,
.button.type3:after,
.button.type3:before {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    transition: all 0.3s ease;
    transform: scale(0.85);
}

.button.type1:hover:before,
.button.type2:hover:before,
.button.type3:hover:before {
    top: 0;
    transform: scale(1);
}

.button.type1:hover:after,
.button.type2:hover:after,
.button.type3:hover:after {
    transform: scale(1);
}

.btn-sign {
    border-radius: 0px !important;
    border: 2px solid #198754 !important;
    background-color: transparent !important;
    font-weight: bold;
    --hover: #198754;
    color: #198754 !important;
}

.btn-sign:hover,
.btn-sign:focus {
    color: white !important;
    font-weight: bold;
    box-shadow: inset 0 -3.25em 0 0 var(--hover);
}

.btn-log {
    border-radius: 0px !important;
    border: 2px solid #0B5ED7 !important;
    font-weight: bold;
    background-color: transparent !important;
    --hover: #0B5ED7;
    color: #0B5ED7 !important;
}

.btn-log:hover,
.btn-log:focus {
    color: white !important;
    font-weight: bold;
    box-shadow: inset 0 -3.25em 0 0 var(--hover);

}

.btn-profile {
    border-radius: 0px !important;
    border: 2px solid #494681 !important;
    font-weight: bold;
    background-color: #494681 !important;
    color: white !important;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .1s ease-out;
}

.btn-profile:hover {
    box-shadow: 0 6px 20px #494681 !important;
}
