.hut-man-title{
    font-weight: bold;
    color: #494681;
    width: fit-content;
}

.hut-man-box{
    border: solid 3px #494681;
    border-radius: 20px;
    margin-top: 30px !important;
    background-color: whitesmoke;
    margin-left: 40px;
    margin-right: 40px;
}

@media only screen and (max-width: 800px) {

    .hut-man-box {
        margin-left: 0px;
        margin-right: 0px;
    }
}

.hut-man-img{
    border: solid 3px #494681;
    padding-left: 0px !important;
    padding-right: 0px !important;
    cursor: pointer;
}

.hut-man-box-thumb{
    width: fit-content;
    height: fit-content;
    background-color: transparent !important;
    border-color: transparent !important;
    padding: 0%;
    margin: 1%;
}


.hut-man-box-thumb:hover{
    border-radius: 0%;
    box-shadow: 0 0 0 3px #494681;
}

.hut-man-clicked{
    box-shadow: 0 0 0 3px #494681;
  }

.hut-label label{
    color: #494681;
    font-weight: bold;
}

.man-hut-page-modal-header {
    border-top: 2px solid #494681;
    border-left: 2px solid #494681;
    border-right: 2px solid #494681;
  }
  
  .man-hut-page-modal-body {
    border-radius: 0px 0px 8px 8px !important;
    border-left: 2px solid #494681;
    border-right: 2px solid #494681;
    border-bottom: 2px solid #494681;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .val-user-box3 {
    border-radius: 20px;
    border: solid 2px #494681;
    background-color: whitesmoke;
}


.val-user-box3 label {
    color: #494681;
    font-weight: bold;
}

.form-sel2{
    width: 100% !important;
    cursor: pointer;
}

.form-desc{
    width: 90% !important;
}

.main_img{
    width: 100%;
    height: 40vh;
    border-radius: 8px;
    object-fit: cover;
}

.box_img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

.thumb_img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    overflow: hidden;
}
/*
.box_thumb{
    width: fit-content;
    height: fit-content;
    background-color: transparent !important;
    border-color: transparent !important;
    padding: 0%;
    margin: 1%;
}

.box_thumb:hover{
    border-radius: 0%;
    box-shadow: 0 0 0 3px #0be2f6;
}

.clicked{
    box-shadow: 0 0 0 3px #0be2f6;
  }
*/

.thumb_row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.close_btn{
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
    background-color: transparent;
    border-color: transparent;
    padding: 0px;
    position: relative;
    left: 42%;
    top: -14.5em;

}

.close_btn:hover{
  background-color: red;
  border-color: red;
}

.x-img{
  filter: invert(11%) sepia(82%) saturate(7355%) hue-rotate(15deg) brightness(103%) contrast(125%);
}

.x-img:hover{
  filter: invert(98%) sepia(28%) saturate(0%) hue-rotate(308deg) brightness(120%) contrast(100%);
}

.hut-man-box .form-control{
    border: 1px solid #494681;
}

.val-user-box3 .form-control, .val-user-box3 .form-select{
    border: 1px solid #494681;
}

.upload_btn {
    border-radius: 0px !important;
    width: 148px !important;
    font-weight: bold;
    border: 2px solid #0B5ED7 !important;
    background-color: #0B5ED7 !important;
    --hover: #0B5ED7;
    color: #fff !important;
    transition: all .1s ease-out;
  }
  
  .upload_btn:hover,
  .upload_btn:focus {
    box-shadow: 0 0.6em 0.4em -0.4em var(--hover);
    transform: translateY(-0.25em);
  }