.external-box-profile {
  background-image: url(../images/image4.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  padding-bottom: 8vh;
  padding-top: 34vh;
  padding-left: 8vh;
  padding-right: 8vh;
  min-height: 100vh;
}

.internal-box-profile {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 253);
  background-color: white;
  border-radius: 12px;
  padding-top: 6vh;

}

.profile-img {
  border-radius: 50%;
  border: solid 4px #212529;
  width: 200px;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
}

.overflow-profile {
  overflow: hidden;
  width: fit-content;
  position: relative;
}

.center-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -140px;
}

.profile-role {
  color: #494681;
  font-weight: bold;
  font-size: 50px;
  font-style: italic;
  margin-top: 10px;
}

.center-top-side {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -280px;
  height: fit-content;
}

.profile-img-btn {
  border-radius: 0px !important;
  width: 148px !important;
  font-weight: bold;
  border: 2px solid #494681 !important;
  background-color: #494681 !important;
  --hover: #494681;
  color: #000 !important;
}

.profile-img-btn:hover,
.profile-img-btn:focus {
  box-shadow: 0 0.6em 0.4em -0.4em var(--hover);
  transform: translateY(-0.25em);
}


.logout-btn {
  border-radius: 0px !important;
  width: 148px !important;
  font-weight: bold;
  border: 2px solid #FF0000 !important;
  background-color: #FF0000 !important;
  --hover: #FF0000;
  color: #000 !important;
}

.logout-btn:hover,
.profile-img-btn:focus {
  box-shadow: 0 0.6em 0.4em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.profile-email {
  color: #494681;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 0px;
  display: inline;
}

.email {
  display: inline;
}

.end-top-profile {
  border: solid 1px #494681;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 20px;
  position: relative;
  margin-top: 20px;
  top: -180px;
}

.component {
  position: relative;
  top: -140px;
}

@media only screen and (max-width: 1200px) {

  .center-top-side,
  .end-top-profile {
    top: -120px;
  }

  .component {
    top: -80px;
  }
}



