.val-user-box2 {
    border-radius: 20px;
    border: solid 2px #494681;
}


.val-user-box2 label {
    color: red;
    font-weight: bold;
}


.val-user-box {
    border-radius: 20px;
    border: solid 2px #494681;
}


.val-user-box label {
    color: green;
    font-weight: bold;
}

.box-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.box-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-btn {
    border-radius: 0px !important;
    width: 160px !important;
    border: 2px solid #494681 !important;
    font-weight: bold;
    background-color: transparent !important;
    --hover: #494681;
    color: #494681 !important;
    transition: 0.5s;
}

.user-btn:hover,
.user-btn:focus {
    color: white !important;
    font-weight: bold;
    box-shadow: inset 160px 0 0 0 var(--hover);
    transition: 0.5s;
}

.user-btn-fix {
    border-radius: 0px !important;
    width: 160px !important;
    border: 2px solid #494681 !important;
    font-weight: bold;
    color: white !important;
    --hover: #494681;
    box-shadow: inset 160px 0 0 0 var(--hover);
}

.map-box {
    border-radius: 20px;
    border: solid 2px #494681;
    height: 300px;
    width: 500px;
    background-color: #FF0000;
}

.profile-icon {
    filter: invert(28%) sepia(11%) saturate(2739%) hue-rotate(204deg) brightness(94%) contrast(89%);
}

.desc label {
    color: #494681;
    font-weight: bold;
}

@media only screen and (max-width: 1200px) {

    .box-Alert {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
}

.box-Alert input[type=range]::-webkit-slider-thumb {
    background-color: #494681;
}

.box-Alert input[type=range]::-webkit-slider-thumb:hover {
    background-color: #494681;
}


.cancel-btn {
    border-radius: 0px !important;
    width: 126px !important;
    border: 2px solid red !important;
    font-weight: bold;
    background-color: red !important;
    --hover: red;
    color: white !important;

}

.cancel-btn:hover,
.cancel-btn:focus {
    box-shadow: 0 0.6em 0.4em -0.4em var(--hover);
    transform: translateY(-0.25em);
}

.save-btn {
    border-radius: 0px !important;
    width: 126px !important;
    border: 2px solid green !important;
    font-weight: bold;
    background-color: green !important;
    --hover: green;
    color: white !important;

}

.save-btn:hover,
.save-btn:focus {
    box-shadow: 0 0.6em 0.4em -0.4em var(--hover);
    transform: translateY(-0.25em);
}

@media only screen and (max-width: 1200px) {

    .margin-bottom {
        margin-bottom: 20px;
    }
}