.add-ref-btn{
    border-radius: 0px !important;
    width: 240px;
    border: 2px solid #0B5ED7 !important;
    font-weight: bold;
    background-color: #0B5ED7 !important;
    --hover: #0B5ED7;
    color: white !important;
    transition: all .1s ease-out;
  }

  .add-ref-btn:hover, 
.add-ref-btn:focus {
  box-shadow: 0 0.6em 0.4em -0.4em var(--hover);
    transform: translateY(-0.25em);
}

.single-hike-icon {
    vertical-align: baseline;
    filter: invert(54%) sepia(70%) saturate(545%) hue-rotate(77deg) brightness(89%) contrast(80%)
  }

  .start-point-btn{
    border-radius: 0px !important;
    width: 240px;
    border: 2px solid #30AC42 !important;
    font-weight: bold;
    background-color: #30AC42 !important;
    --hover: #30AC42;
    color: white !important;
    transition: all .1s ease-out;
  }

  .start-point-btn:hover, 
.start-point-btn:focus {
  box-shadow: 0 0.6em 0.4em -0.4em var(--hover);
    transform: translateY(-0.25em);
}

.end-point-btn{
    border-radius: 0px !important;
    width: 240px;
    border: 2px solid #c31e2c !important;
    font-weight: bold;
    background-color: #c31e2c !important;
    --hover: #c31e2c;
    color: white !important;
    transition: all .1s ease-out;
  }

  .end-point-btn:hover, 
.end-point-btn:focus {
  box-shadow: 0 0.6em 0.4em -0.4em var(--hover);
    transform: translateY(-0.25em);
}

.fit2{
    margin-top: 20px;
    width: fit-content;
    margin-bottom: 0px;
}

.label-field{
  margin-top: 20px;
  width: 700px;
  margin-left: 300px;
  margin-bottom: 30px;

}