.prova{
    height: 80vh;
    background-color: blue;
}

.prova2{
    height: 80vh;
    background-color: red;
}

.hero {
    height: 600px;
    background-color: #caf0f8;
  }
  .services {
    height: 600px;
    background-color: #f5cac3;
  }
  .blog {
    height: 600px;
    background-color: #d8f3dc;
  }
  .contact {
    height: 600px;
    background-color: #ffc6ff;
  }