.box-login {
    background-color: #0B111A;
    color: white;
    border: 2px solid #0B5ED7;
    border-radius: 6px;
}

.login_btn {
    border-radius: 0px !important;
    width: 160px !important;
    border: 2px solid #0B5ED7 !important;
    background-color: transparent !important;
    --hover: #0B5ED7;
    color: #0B5ED7 !important;
}

.login_btn:hover,
.login_btn:focus {
    color: white !important;
    box-shadow: inset 160px 0 0 0 var(--hover);
}

.box-signup {
    background-color: #0B111A;
    color: white;
    border: 2px solid #198754;
    border-radius: 6px;
}

.signup_btn {
    border-radius: 0px !important;
    width: 160px !important;
    border: 2px solid #198754 !important;
    background-color: transparent !important;
    --hover: #198754;
    color: #198754 !important;
}

.signup_btn:hover,
.signup_btn:focus {
    color: white !important;
    box-shadow: inset 160px 0 0 0 var(--hover);
}