.external-box {
  background-image: url(../images/image1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  padding-bottom: 8vh;
  padding-top: 20vh;
  padding-left: 8vh;
  padding-right: 8vh;
  min-height: 100vh;
}

.internal-box {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 253);
  background-color: whitesmoke;
  border-radius: 12px;
  padding-top: 6vh;
}

.single-hike-title {
  width: 800px !important;
  font-weight: bold;
  font-size: 50px;
  font-style: italic;
  color: #30AC42;
  text-align: center;
  text-transform: uppercase;
}

.single-hike-title.background {
  position: relative;
  z-index: 1;
}

.single-hike-title.background span {
  background: whitesmoke;
  padding: 0 15px;
}

.single-hike-title.double:before {
  border-top: none;
}

.single-hike-title.double:after {
  border-bottom: 2px solid #30AC42;
  content: "";
  margin: 0 auto;
  /* this centers the line to the full width specified */
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  width: 100%;
  z-index: -1;
}

.p-hike {
  margin-bottom: 0px;
  display: inline;
  font-weight: bold;
}

.info-row {
  padding-bottom: 4px;
  border-bottom: 2px solid #30AC42;
  margin-bottom: 20px;
}

.side-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  font-style: italic;
  color: #30AC42;
  margin-bottom: 20px;
}

.side-hike-img {
  border: 2px solid #30AC42;
  border-radius: 8px;
  cursor: pointer;
}

.sub-title {
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
  color: #30AC42;
  padding-bottom: 8px;
  border-bottom: 2px solid #30AC42;
}

th {
  color: #30AC42;
}

tr {
  border-color: rgba(48, 172, 66, 0.1);
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: rgba(48, 172, 66, 0.1);
   box-shadow: none;
 }

.single-hike-icon {
  vertical-align: baseline;
  filter: invert(54%) sepia(70%) saturate(545%) hue-rotate(77deg) brightness(89%) contrast(80%)
}

.bigger-icon {
  width: 30px;
  height: 30px;
}

.single-hike-map {
  margin-bottom: 0px !important;
  height: 400px !important;
  width: 100% !important;
  border: 2px solid #30AC42;
  border-radius: 8px;
}

.btn-row {
  display: flex;
  justify-content: end;
  margin-bottom: 30px;
}

.tracked-hikes-row {
  margin-bottom: 30px;
}

.start_btn {
  border-radius: 0px !important;
  width: 148px !important;
  font-weight: bold;
  border: 2px solid #30AC42 !important;
  background-color: #30AC42 !important;
  --hover: #30AC42;
  color: #fff !important;
}

.terminate_btn {
  border-radius: 0px !important;
  width: 148px !important;
  font-weight: bold;
  border: 2px solid #a972cb !important;
  background-color: #a972cb !important;
  --hover: #a972cb;
  color: #fff !important;
}

.cancel_btn {
  border-radius: 0px !important;
  width: 148px !important;
  font-weight: bold;
  border: 2px solid #212529 !important;
  background-color: #212529 !important;
  --hover: #212529;
  color: #fff !important;
}

.start_btn:hover,
.start_btn:focus,
.terminate_btn:hover,
.terminate_btn:focus,
.cancel_btn:hover,
.cancel_btn:focus {
  box-shadow: 0 0.6em 0.4em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.tab-box {
  border: 2px solid #30AC42;
  border-radius: 8px;
  margin-bottom: 30px;
}

.tab-box .nav-link{
  color: #30AC42 !important;
  font-weight: bold !important;
}

.tab-box .nav-link.active{
  background-color: #30AC42 !important;
  color: #212529 !important;
  font-weight: bold !important;
}

.hike-page-modal-header {
  border-top: 2px solid #30AC42;
  border-left: 2px solid #30AC42;
  border-right: 2px solid #30AC42;
}

.hike-page-modal-body {
  border-radius: 0px 0px 8px 8px !important;
  border-left: 2px solid #30AC42;
  border-right: 2px solid #30AC42;
  border-bottom: 2px solid #30AC42;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hike-page-container {
  position: relative;
  background-color: #212529;
  border: 2px solid #30AC42;
  border-radius: 10px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.fake-image {
  opacity:0.1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;

}

.middle {
  transition: .5s ease;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.text {
  color: white;
}

.log_btn {
  border-radius: 0px !important;
  width: 148px !important;
  font-weight: bold;
  border: 2px solid #0B5ED7 !important;
  background-color: #0B5ED7 !important;
  --hover: #0B5ED7;
  color: #fff !important;
}

.log_btn:hover,
.log_btn:focus {
  box-shadow: 0 0.6em 0.4em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.tracked-hikes-card {
  width: 330px;
  margin-bottom: 30px;
  background-color: white;
  color: black;
  transition: all .25s ease;
}

.tracked-hikes-card:hover {
  cursor: pointer;
}

.tracked-hikes-card.selected-card {
  background-color: rgba(48, 172, 66, 0.1);
}

.tracked-hikes-card.deselected-card {
  color: rgba(128, 128, 128, 0.7);
}